kestra/flows/main-sale-workflow.yaml
id: main-sale-workflow
namespace: agrilink

description: |
  Main orchestration workflow for farmer crop sales.
  Uses Kestra AI Agents with Anthropic Claude to make autonomous decisions
  based on real market data from Government of India data.gov.in API.

inputs:
  - id: farmer_id
    type: STRING
    description: Unique farmer identifier

  - id: farmer_name
    type: STRING
    description: Farmer's name for notifications
    defaults: "Farmer"

  - id: farmer_phone
    type: STRING
    description: Contact phone number
    defaults: "+919999999999"

  - id: commodity
    type: STRING
    description: Type of crop (e.g., Tomato, Potato, Onion)
    defaults: "Tomato"

  - id: quantity_kg
    type: STRING
    description: Quantity in kilograms
    defaults: "100"

  - id: state
    type: STRING
    description: Indian state name
    defaults: "Maharashtra"

  - id: district
    type: STRING
    description: District name
    defaults: "Nashik"

  - id: crop_image_url
    type: STRING
    description: URL of crop photo for quality assessment
    defaults: ""

  - id: cost_of_production
    type: STRING
    description: Cost of production in rupees per quintal (100kg)
    defaults: "800"

variables:
  # API endpoints
  api_base_url: "http://host.docker.internal:3000/api"

  # Calculated values (parse string to number, then divide)
  # Note: Removing quotes so it evaluates as a number, not a string
  cost_per_kg: "{{ inputs.cost_of_production }}"

tasks:
  # =========================================================================
  # TASK 1: Quality Assessment using AI Vision
  # =========================================================================
  - id: assess_quality
    type: io.kestra.plugin.ai.agent.AIAgent
    systemMessage: |
      You are an expert agricultural quality assessor for Indian crops.
      Assess the crop quality and provide a JSON response.

      Quality Grades:
      - A: Premium quality, no defects, uniform size, excellent freshness
      - B: Good quality, minor defects acceptable, good freshness
      - C: Average quality, some defects, suitable for processing

      You MUST respond with ONLY valid JSON, no markdown, no code blocks, no other text:
      {
        "grade": "A" or "B" or "C",
        "freshness_score": 1-10,
        "defects": ["list any defects or empty array"],
        "price_multiplier": 0.7-1.2,
        "assessment_notes": "brief assessment explaining the grade"
      }

      The grade field MUST be exactly "A", "B", or "C" (case-sensitive).
      Price multiplier should be: A=1.1-1.2, B=0.9-1.0, C=0.7-0.8
    prompt: |
      Assess this crop for sale:
      - Commodity: {{ inputs.commodity }}
      - Quantity: {{ inputs.quantity_kg }} kg
      - Location: {{ inputs.district }}, {{ inputs.state }}
      - Image URL: {{ inputs.crop_image_url }}

      If no image URL provided, assess based on typical quality for this commodity in this region.

  # =========================================================================
  # TASK 1.5: Clean Quality Assessment JSON
  # =========================================================================
  - id: clean_quality_json
    type: io.kestra.plugin.scripts.python.Script
    description: "Extract clean JSON from AI response (removes markdown fences)"
    outputFiles:
      - quality.json
    script: |
      import json
      import re
      
      raw_output = """{{ outputs.assess_quality.textOutput }}"""
      
      # Remove markdown code fences if present
      cleaned = re.sub(r'^```json\s*|\s*```$', '', raw_output.strip(), flags=re.MULTILINE)
      
      # Parse and validate
      data = json.loads(cleaned)
      
      # Write to output file
      with open('quality.json', 'w') as f:
          json.dump(data, f)

  # =========================================================================
  # TASK 2: Fetch REAL Market Data from data.gov.in
  # =========================================================================
  - id: fetch_market_data
    type: io.kestra.plugin.core.http.Request
    description: "Fetch live market prices from Government API via our backend"
    uri: "{{ vars.api_base_url }}/market"
    method: GET
    params:
        commodity: "{{ inputs.commodity }}"
        state: "{{ inputs.state }}"
        cost: "{{ vars.cost_per_kg }}"

  # =========================================================================
  # TASK 3: Market Intelligence Agent (DECISION MAKER)
  # ⭐ THIS IS THE KEY TASK FOR WAKANDA DATA AWARD
  # - Summarizes data from external system (data.gov.in)
  # - Makes AUTONOMOUS decision based on analysis
  # =========================================================================
  - id: market_intelligence
    type: io.kestra.plugin.ai.agent.AIAgent
    systemMessage: |
      You are an AI Market Intelligence Agent for Agri-Link.
      Your job is to ANALYZE market data and make AUTONOMOUS DECISIONS to protect farmers.

      CRITICAL: You MUST use ONLY the cost of production value provided in the prompt below.
      IGNORE any general knowledge about typical costs - use ONLY the specific farmer's cost data.
      The cost is provided per quintal (100kg) - YOU MUST DIVIDE BY 100 to get cost per kg.

      DECISION CRITERIA (apply these STRICTLY):
      1. CRISIS_SHIELD - Activate when ANY of these is true:
         - Current market price (per kg) < 80% of the cost per kg (cost per quintal / 100)
         - Price dropped > 30% in last 7 days
         - Severe market crash detected

      2. NEGOTIATE - Normal sale when:
         - Current market price >= 80% of cost AND price drop < 30%
         - Market is stable
         - Good opportunity for profitable sale

      CALCULATION EXAMPLE:
      If you see "Cost of Production per quintal: ₹12000" and market price = ₹42/kg:
      Step 1: Convert to per kg: 12000 / 100 = ₹120/kg
      Step 2: Calculate threshold: 120 * 0.8 = ₹96/kg
      Step 3: Compare: 42 < 96? YES → CRISIS_SHIELD

      If you see "Cost of Production per quintal: ₹800" and market price = ₹42/kg:
      Step 1: Convert to per kg: 800 / 100 = ₹8/kg
      Step 2: Calculate threshold: 8 * 0.8 = ₹6.4/kg
      Step 3: Compare: 42 < 6.4? NO → NEGOTIATE

      You MUST respond with ONLY valid JSON, no markdown, no code blocks:
      {
        "market_summary": "2-3 sentence summary of market conditions",
        "decision": "NEGOTIATE" or "CRISIS_SHIELD",
        "decision_reason": "why this decision (include the math: price vs 80% of cost)",
        "recommended_min_price": 15.5,
        "confidence": 0.85
      }

      The decision field MUST be exactly "NEGOTIATE" or "CRISIS_SHIELD" (case-sensitive).
    prompt: |
      ANALYZE THIS MARKET DATA AND MAKE A DECISION:

      === CROP DETAILS ===
      Commodity: {{ inputs.commodity }}
      Quantity: {{ inputs.quantity_kg }} kg
      Quality Assessment: {{ read(outputs.clean_quality_json.outputFiles['quality.json']) }}
      Location: {{ inputs.district }}, {{ inputs.state }}

      === COST ANALYSIS ===
      Cost of Production per quintal (100kg): ₹{{ vars.cost_per_kg }}
      Cost of Production per kg: ₹{{ vars.cost_per_kg }} / 100 = Calculate this yourself

      === MARKET DATA (from data.gov.in) ===
      {{ outputs.fetch_market_data.body }}

      === YOUR TASK ===
      1. Summarize the market situation
      2. Decide: NEGOTIATE (normal sale) or CRISIS_SHIELD (emergency diversion)
      3. Explain your reasoning
      4. Recommend a minimum acceptable price per kg

  # =========================================================================
  # TASK 3.5: Clean Market Intelligence JSON
  # =========================================================================
  - id: clean_intelligence_json
    type: io.kestra.plugin.scripts.python.Script
    description: "Extract clean JSON from AI response (removes markdown fences)"
    outputFiles:
      - intelligence.json
    script: |
      import json
      import re
      
      raw_output = """{{ outputs.market_intelligence.textOutput }}"""
      
      # Remove markdown code fences if present
      cleaned = re.sub(r'^```json\s*|\s*```$', '', raw_output.strip(), flags=re.MULTILINE)
      
      # Parse and validate
      data = json.loads(cleaned)
      
      # Ensure decision is valid
      if data.get('decision') not in ['NEGOTIATE', 'CRISIS_SHIELD']:
        data['decision'] = 'NEGOTIATE'  # Safe fallback
      
      # Write to output file
      with open('intelligence.json', 'w') as f:
          json.dump(data, f)

  # =========================================================================
  # TASK 4: Decision Router - Branch based on AI decision
  # =========================================================================
  - id: decision_router
    type: io.kestra.plugin.core.flow.Switch
    value: "{{ read(outputs.clean_intelligence_json.outputFiles['intelligence.json']) | jq('.decision') | first }}"
    cases:
      # ----- CRISIS PATH -----
      CRISIS_SHIELD:
        - id: log_crisis
          type: io.kestra.plugin.core.log.Log
          message: |
            🚨 CRISIS SHIELD ACTIVATED for {{ inputs.farmer_name }}
            Decision: {{ read(outputs.clean_intelligence_json.outputFiles['intelligence.json']) }}

        - id: fetch_processors
          type: io.kestra.plugin.core.http.Request
          uri: "{{ vars.api_base_url }}/webhook"
          method: GET
          params:
              action: "processors"
              commodity: "{{ inputs.commodity }}"

        - id: run_crisis_shield
          type: io.kestra.plugin.core.flow.Subflow
          namespace: agrilink
          flowId: crisis-shield
          inputs:
            farmer_id: "{{ inputs.farmer_id }}"
            farmer_name: "{{ inputs.farmer_name }}"
            commodity: "{{ inputs.commodity }}"
            quantity_kg: "{{ inputs.quantity_kg }}"
            quality_assessment: "{{ read(outputs.clean_quality_json.outputFiles['quality.json']) }}"
            state: "{{ inputs.state }}"
            district: "{{ inputs.district }}"
            cost_per_kg: "{{ vars.cost_per_kg }}"
            market_data: "{{ outputs.fetch_market_data.body }}"
            processors_data: "{{ outputs.fetch_processors.body }}"
          wait: true

    # ----- DEFAULT: NEGOTIATION PATH -----
    defaults:
      - id: log_negotiate
        type: io.kestra.plugin.core.log.Log
        message: |
          💼 Starting negotiation for {{ inputs.farmer_name }}
          Decision: {{ read(outputs.clean_intelligence_json.outputFiles['intelligence.json']) }}

      - id: fetch_buyers
        type: io.kestra.plugin.core.http.Request
        description: "Fetch buyer registry for negotiation"
        uri: "{{ vars.api_base_url }}/webhook"
        method: GET
        params:
            action: "buyers"
            commodity: "{{ inputs.commodity }}"

      - id: run_negotiation
        type: io.kestra.plugin.core.flow.Subflow
        namespace: agrilink
        flowId: negotiation-swarm
        inputs:
          farmer_id: "{{ inputs.farmer_id }}"
          commodity: "{{ inputs.commodity }}"
          quantity_kg: "{{ inputs.quantity_kg }}"
          quality_assessment: "{{ read(outputs.clean_quality_json.outputFiles['quality.json']) }}"
          min_price: "{{ read(outputs.clean_intelligence_json.outputFiles['intelligence.json']) | jq('.recommended_min_price') | first }}"
          market_data: "{{ outputs.fetch_market_data.body }}"
          buyers_data: "{{ outputs.fetch_buyers.body }}"
        wait: true

  # =========================================================================
  # TASK 5: Generate Final Summary (Bilingual)
  # =========================================================================
  - id: generate_summary
    type: io.kestra.plugin.ai.agent.AIAgent
    systemMessage: |
      Generate a friendly summary for an Indian farmer in BOTH Hindi and English.
      Keep it simple, encouraging, and actionable.

      Respond with ONLY valid JSON, no markdown, no code blocks:
      {
        "english_summary": "...",
        "hindi_summary": "...",
        "next_steps": ["step 1", "step 2"]
      }
    prompt: |
      Create a summary for farmer {{ inputs.farmer_name }}:

      Sale Details:
      - Commodity: {{ inputs.commodity }}
      - Quantity: {{ inputs.quantity_kg }} kg
      - Quality Assessment: {{ read(outputs.clean_quality_json.outputFiles['quality.json']) }}

      Market Intelligence Decision:
      {{ read(outputs.clean_intelligence_json.outputFiles['intelligence.json']) }}

      Create an encouraging summary explaining what will happen next.

  # =========================================================================
  # TASK 5.5: Clean Summary JSON
  # =========================================================================
  - id: clean_summary_json
    type: io.kestra.plugin.scripts.python.Script
    description: "Extract clean JSON from AI response"
    outputFiles:
      - summary.json
    script: |
      import json
      import re
      
      raw_output = """{{ outputs.generate_summary.textOutput }}"""
      
      # Remove markdown code fences if present
      cleaned = re.sub(r'^```json\s*|\s*```$', '', raw_output.strip(), flags=re.MULTILINE)
      
      # Parse and validate
      data = json.loads(cleaned)
      
      # Write to output file
      with open('summary.json', 'w') as f:
          json.dump(data, f)

pluginDefaults:
  - type: io.kestra.plugin.ai.agent.AIAgent
    values:
      provider:
        type: io.kestra.plugin.ai.provider.Anthropic
        apiKey: "{{ secret('ANTHROPIC_API_KEY') }}"
        modelName: "claude-sonnet-4-5-20250929"

# =============================================================================
# OUTPUTS - Available to calling systems
# =============================================================================
outputs:
  - id: quality_assessment
    type: JSON
    value: "{{ read(outputs.clean_quality_json.outputFiles['quality.json']) }}"
    description: "AI quality assessment result"

  - id: market_intelligence
    type: JSON
    value: "{{ read(outputs.clean_intelligence_json.outputFiles['intelligence.json']) }}"
    description: "Market analysis and AI decision"

  - id: final_summary
    type: JSON
    value: "{{ read(outputs.clean_summary_json.outputFiles['summary.json']) }}"
    description: "Final bilingual summary for farmer"

  - id: execution_path
    type: STRING
    value: "{{ read(outputs.clean_intelligence_json.outputFiles['intelligence.json']) | jq('.decision') | first }}"
    description: "Which path was taken: NEGOTIATE or CRISIS_SHIELD"

  - id: best_offer
    type: JSON
    value: "{{ outputs.run_negotiation.outputs.best_offer | default('{}') }}"
    description: "Best negotiation offer from negotiation-swarm (if NEGOTIATE path was taken)"

  - id: crisis_resolution
    type: JSON
    value: "{{ outputs.run_crisis_shield.outputs.crisis_resolution | default('{}') }}"
    description: "Crisis shield resolution with outlet details (if CRISIS_SHIELD path was taken)"